* {
  box-sizing: border-box;
}

body { 
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;

  }
   
  h2, h3 {
    color: #00a2c6;
  }
   
  nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
  }
   /* hover nav  */
  nav a:hover {
    color: red;
    font-weight: bold;
  }
/* NAV FLEXBOX */

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 50px;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #00a2c6;
  padding: 5px;
  position :sticky;
  top: 0;
}

  .profile {

    text-align: center;
  }

  .featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }
  
  .profile img {
    width: 200px;
  }

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

header {
  display: inline;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

.card {
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
  border-radius:5px;
  padding: 20px;
}
#content {
 flex: 5;
 display: flex;
flex-flow: column nowrap;
gap: 1rem 2rem;
}

aside {
  flex: 1;
}

footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
  text-align: center;
  font-weight: bold ;
}


/* RESPONSIVE DEVICE*/
@media screen and (max-width: 1200px) {
main {
  flex-flow: column nowrap;
}
main aside {
  align-self: center;
}
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
 
  main aside {
    align-self: stretch;
  }
}